<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>CinemaScope</Name>
    <Version>1.0.0</Version>
    <Title>CinemaScope</Title>
    <Publisher>Los Alamos National Laboratory</Publisher>
    <StartMenuDir>Qt IFW Examples</StartMenuDir>
    <TargetDir>@HomeDir@/CinemaScope</TargetDir>
</Installer>
